.App {
  text-align: center;
  background-color: white;
}
.shecodes-logo {
  max-width: 180px;
  display: block;
  margin: 20px auto;
}

.App-header {
  background-color: transparent;
  min-height: auto;
  display: block;
  text-align: center;
  padding: 20px 0;
}

.App-link {
  color: #61dafb;
}